DEBUG = True
HOSTING = 'LOCAL'
# You can generate one here: https://miniwebtool.com/django-secret-key-generator/
SECRET_KEY = '---'

EMAIL = 'LOCAL'
EMAIL_HOST_USER = ''
EMAIL_HOST_PASSWORD = ''
FROM = ''

DB = 'sqlite'
DB_NAME = 'db.sqlite3'
DB_HOST = ''
DB_USER = ''
DB_PASSWORD = ''
DB_PORT = '3306'

AWS_ACCESS_KEY_ID = ''
AWS_SECRET_ACCESS_KEY = ''
AWS_STORAGE_BUCKET_NAME = ''
