{% extends "base.html" %}

{% block title %}Password Change{% endblock %}
{% block content %}

<div class="container p-20">
    <div class="columns is-mobile is-centered">
        <div class="column is-four-fifths-mobile is-two-thirds-tablet is-two-fifths-desktop is-two-fifths-widescreen is-two-fifths-fullhd">
            <form method="post">
                <h2 class="title is-2 has-text-centered p-5">Change Password</h2>
                <div class="control">
                    {% csrf_token %}
                    {% include 'partials/bulma_form.html' with form=form %}
                </div>
                <div class="control mt-5">
                    <button class="button is-link is-fullwidth" type="submit">Change Password</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}