<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
           data-target="attendancemainnav">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
    <div id="attendancemainnav" class="navbar-menu">
        <div class="navbar-end">
            {% if user.is_authenticated %}
                <a class="navbar-item logout-button" href="{% url 'logout' %}">Log Out</a>
            {% else %}
                <a class="navbar-item" href="{% url 'login' %}">Log In</a>
            {% endif %}
        </div>
    </div>
</nav>