<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
           data-target="attendancemainnav">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
    <div id="attendancemainnav" class="navbar-menu">
        <div class="navbar-end">
        <div class="navbar-item">
            <a class="{% if request.resolver_match.url_name == "home" %}button is-outlined{% endif %}" href="{% url 'attendance:home' %}">Home</a>
        </div>
            {% if user.is_authenticated %}
                {% if user.is_superuser %}
                    <div class="navbar-item">
                    <a class="{% if request.resolver_match.url_name == "import" %}button is-outlined{% endif %}" href="{% url 'attendance:import' %}">Import</a>
                    </div>
                    <div class="navbar-item">
                    <a class="{% if request.resolver_match.url_name == "assignments" %}button is-outlined{% endif %}" href="{% url 'attendance:assignments' %}">Assignments</a>
                    </div>
                {% endif %}

                <a class="navbar-item" href="{% url 'password_change' %}">Change Password</a>
                <a class="navbar-item logout-button" href="{% url 'logout' %}">Log Out</a>
            {% else %}
                <a class="navbar-item" href="{% url 'login' %}">Log In</a>
            {% endif %}
        </div>
    </div>
</nav>
