{% load attendancetags %}
<article class="message" id="classroom-item-{{ classroom.id }}">
    <div class="message-header">
        <label>
                <input class="classroomcheckbox" type="checkbox" name="classroom[]" value="{{ classroom.id }}" {% isassigned 'C' classroom.id assignments "checked" %} />
            {{ classroom.name }}
        </label>
        {% include 'partials/toggle_button.html' with type="classroom" id=classroom.id only %}
    </div>
    <div id="classroom-{{ classroom.id }}" class="message-body collapsed">
        <div class="message-body-content">
            {% for student in classroom.student_set.all %}
                <div>
                <label class="checkbox">
                    <input class="studentcheckbox" type="checkbox" name="student[]" value="{{ student.nde_id }}" {% isassigned 'P' student.nde_id assignments "checked" %}/>
                    {{ student.first_name }} {{ student.last_name }}
                </label>
                </div>
            {% endfor %}
        </div>
    </div>
</article>