{% load attendancetags %}
<article class="message" id="school-item-{{ school.id }}">
		<div class="message-header">
            <label>
			    <input class="schoolcheckbox" type="checkbox" name="school[]" value="{{ school.id }}" {% isassigned 'S' school.id assignments "checked" %} /> {{ school.name }}
            </label>
                <a href="#school-{{ school.id }}" data-action="collapse">Collapse/Expand</a>
		</div>
		<div id="school-{{ school.id }}" class="message-body collapsed">
			<div class="message-body-content">
                {% for cr in school.classroom_set.all %}
                    {% include 'partials/assignment/assignment_widget_classroom.html' with classroom=cr parent="school-"|add:school.id %}
                {% endfor %}
			</div>
		</div>
	</article>