html, body {
    height: 100%
}

.skiptocontent {
    padding: 8px;
    position: absolute;
    transform: translateY(-100%);
    transition: transform 0.3s;
}

.skiptocontent:focus {
    transform: translateY(0%);
}

.importresults .table-container {
    max-height: 250px;
    overflow-y: auto;
}

.user-sysadmin.page-home a.box {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.assignmentselectorbox {
    height: 500px;
    overflow: auto;
}