{% extends "base.html" %}
{% block title %}Assignments{% endblock %}
{% block content %}
<h2>Assignments</h2>
        <div class="columns">
        {% if facilitators.all %}
        {% include 'partials/assignment/personlist.html' with title="Facilitators" user_list=facilitators only %}
        {% endif %}
        {% if mentors.all %}
        {% include 'partials/assignment/personlist.html' with title="Mentors" user_list=mentors only %}
        {% endif %}
        </div>
{% endblock %}

{{ schools }}