{% for key, school in assignments.items %}
    <article class="message" id="school-item-{{ key }}">
        <div class="message-header">
            <label>
                {{ school.name }}
                <a class="note-trigger" data-type="school" data-id="{{ key }}" data-name="{{ school.name }}" data-target="notes-modal">[NOTES]</a>
            </label>
            <a href="#school-{{ ckey }}" data-action="collapse">Collapse/Expand</a>

        </div>
        <div id="school-{{ key }}" class="message-body collapsed">
            <div class="message-body-content">
                {% if school.assigned %}

                {% endif %}

                {% for ckey, classroom in school.classrooms.items %}
                    <article class="message" id="classroom-item-{{ ckey }}">
                        <div class="message-header">
                            <label>
                                {{ classroom.name }}
                                <a class="note-trigger" data-type="classroom" data-id="{{ ckey }}" data-name="{{ classroom.name }}" data-target="notes-modal">[NOTES]</a>
                            </label>
                            <a href="#classroom-{{ ckey }}" data-action="collapse" data-type="C" data-id="{{ ckey }}">Collapse/Expand</a>
                        </div>
                        <div id="classroom-{{ ckey }}" class="message-body collapsed">
                            <div class="message-body-content">
                                {% if classroom.assigned %}
                                    <div class="meetinglistholder">
                                    <ul class="meetinglist" id="classroommeetings_{{ ckey }}">
                                        <li><a class="button is-primary is-fullwidth" href="{% url "attendance:meeting" 'classroom' ckey %}">NEW MEETING</a></li>
                                    </ul>
                                    </div>
                                {% endif %}
                                {% for student in classroom.students %}
                                    <div class="">
                                        <strong>{{ student.first_name }} {{ student.last_name }}</strong>
                                        <a class="note-trigger" data-type="student" data-id="{{ student.nde_id }}" data-name="{{ student }}" data-target="notes-modal">[NOTES]</a>
                                        <div class="meetinglistholder">
                                        <ul class="meetinglist" id="studentmeetings_{{ student.nde_id }}">
                                            <li><a class="button is-primary is-fullwidth" href="{% url "attendance:meeting" 'student' student.nde_id %}">NEW MEETING</a></li>
                                        </ul>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </article>
                {% endfor %}


            </div>
        </div>
    </article>
{% endfor %}