{% load attendancetags %}
<div class="studentattendancerow box">
    <div class="columns is-mobile">
        <div class="column">
            <h3>{{ student }}</h3>
        </div>
        <div class="column has-text-right">
            <button class="note-trigger button is-warning is-small" data-type="student" data-id="{{ student.nde_id }}" data-name="{{ student }}" data-target="notes-modal"><span class="fas fa-sticky-note"></span></button>
        </div>
    </div>


    <div class="attendance field has-addons has-addons-centered">
        <p class="control">
            <button class="button{% has_attendance_of attendance student.nde_id 'p' %}" data-rel="{{ student.nde_id }}" data-status="p" data-meeting="{{ meetingid }}">
                <span>Present</span>
            </button>
        </p>
        <p class="control">
            <button class="button{% has_attendance_of attendance student.nde_id 'a' ' is-danger'  %}" data-rel="{{ student.nde_id }}" data-status="a" data-meeting="{{ meetingid }}">
                <span>Absent</span>
            </button>
        </p>
        <p class="control">
            <button class="button{% has_attendance_of attendance student.nde_id 't' ' is-warning' %}" data-rel="{{ student.nde_id }}" data-status="t" data-meeting="{{ meetingid }}">
                <span>Tardy</span>
            </button>
        </p>
    </div>
</div>
